@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Edu+TAS+Beginner&family=PT+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
body {
    background-color: #e9f3ee;
    font-family: Poppins;
    margin: 0;
    font-size: 15px;
    --color: #435585;
    color: var(--color);
    color: #435585;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }

  ::-webkit-scrollbar{
    width: 0;
}

  header{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    padding-top: 10px;
}
header nav a{
    margin: 0 30px;
    color: var(--color);
    font-size: small;
}
  
  h1 {
    font-family: 'Poppins';
  }
  
  h2, h3, h4, h5 {
    color: #435585;
  }
  
  #title {
    background-image: url('./images/art-6073263_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #title .tab {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('./images/art-6073263_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tab .container {
    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
  }

  .text-gradient {
    background-image: linear-gradient(
        to right, #e4454a, #ca3ea7
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

#intro .avatar{
    text-align: right;
    height: 100%;
}
#intro .avatar img{
    height: 100%;
    filter: saturate(0.5);
    border-radius: 20px;
}
#intro .content{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 500px;
    max-width: 80%;
}
#intro .content .name,
#intro .content .job{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    line-height: 1.5em;
}
.text-gradient{
    background-image: linear-gradient(
        to right, #E4454A, #CA3EA7
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#intro .content .des{
    margin-top: 1.2em;
    width: 70%;
}
#intro .content .des a{
    margin-top: 1.2em;
    font-size: large;
}
#intro .content i{
    font-size: 5em;
    position: absolute;
    color: #293b4c;
    padding-left: 5px;
}

  
 /* skills */

 #skill{
    background-color: #F2F0EB;
    color: #eee;
    background-image: linear-gradient(
        45deg, #638889, #E78895, #FFE4C9
    );
    background-size: cover;
}
#skill .list{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    box-sizing: border-box;
    gap: 0px;
}

#skill .list .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#skill .list .item:nth-child(odd){
    background-color: #FFB0B0;
}
#skill .list .item i{
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #176B87;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px #0005;
}
#skill .list .item .name{
    font-size: 1.5em;
    margin-top: 0.7em;
}
#skill .list .item .des{
    font-size: small;
    opacity: 0.8;
}

/* project */
#project{
    background-color: #cfbaba;
    color: #444B57;
}
#project .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}
#project .list .item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
    transition: all 12s ease-in-out;
    cursor: pointer;
}

#project .list .item .name a {
    color: #435585;
}

#project .list .item:hover img {
    object-position: bottom center;
}

#project .list .item{
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
#project .list .item .index{
    background-color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    transform: translateY(-100%);
    padding: 10px;
    font-style: italic;
    border-top-right-radius: 20px;
}
#project .list .item .name{
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
}
#project .list .item .des{
    padding: 0 10px 10px 10px;
}
#project .list .item .author{
    padding: 10px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
#project .list .item .job{
    font-weight: bold;
}
#project .list .item i{
    font-size: 1.5em;
}
#project .container{
    overflow: auto;
}
::-webkit-scrollbar{
    width: 0;
}

/* contact */

#contact{
    background: #E8D8C4;
}
#contact .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact .thank{
    font-size: 5em;
    font-weight: bold;
    display: block;
    text-align: center;
}
#contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#contact .des{
    width: 500px;
    max-width: 80%;
    text-align: center;
}
#contact .des a{
    color: #435585;
}
#contact .list{
    text-align: center;
}
#contact .list .item{
    display: inline-block;
    margin: 10px 30px;
}
#contact .list .item a{
    color: #435585;
}

/* responsive */

@media screen and (max-width: 991px){
    /* ipad, tablets */
    #intro .avatar img{
/*         transform: translateX(200px); */
        display: none;
    }

}
@media screen and (max-width: 767px){
    body{
        font-size: 10px;
    }
    header nav a{
        margin: 10px;
    }
    #intro .avatar img{
        display: none;
        transform: none;
    }
    #intro .content{
        left: 20px;
    }
    #intro .content .name{
        font-size: 4em;
    }
    #intro .content i{
        position: unset;
    }
    #skill .list{
        padding: 0px;
        grid-template-columns: repeat(2, 1fr);
    }
    #skill .list .item:nth-child(odd){
        background: unset;
    }
    #skill .list .item:nth-child(2),
    #skill .list .item:nth-child(3n){
        background: #E78895;
    }
    #project .list{
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    #project .list .item img{
        height: 100px;
    }
}

/* effect */
.tab{
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}
#intro{
    z-index: 2;
}

.tab.active{
    --x: 50%;
    --y: 50%;
    clip-path: circle(
        200% at var(--x) var(--y)
    );
    animation: showTab 1s ease-in-out 1;
}
@keyframes showTab{
    from{
        clip-path: circle(
            0% at var(--x) var(--y)
        );
    }
}
